.planetCard{
    background-color: rgba(47, 79, 79, 0.616);
    height: 300px;
    margin: 10px;

    h3{
        color: white;
        font-family: 'Ubuntu', 'Montserrat', sans-serif;
        font-size: 3em;
        margin: auto;
        width: 100%;
    }

    .planet-image{
        display: none;
        height: 100%;
        width: 100%
    }
}

#planetDetails{
    color: white;
    display: none;

    button{
        background-color: rgba(255, 255, 255, 0.377);
        border: none;
        border-radius: 5px;
        color: red;
        display: inline-block;
        font-size: 2em;
        font-weight: bold;
        margin-left: 90%;
        width: 2em;
    }
}