.planetCard{
    background-color: rgba(47, 79, 79, 0.616);
    height: 300px;
    margin: 10px;

    h3{
        color: white;
        font-family: 'Ubuntu', 'Montserrat', sans-serif;
        font-size: 3em;
        margin: auto;
        width: 100%;
    }

    .planet-image{
        display: none;
        height: 100%;
        width: 100%
    }
}